@{
    ViewBag.Title = "Index";

}

<link href="~/Content/Index.css" rel="stylesheet" />

<style>
    
</style>

<h2>Balanço (R$)</h2>

<div id="grafico">
    <canvas id="graficos" class="graficos" ></canvas>
</div>

@section Scripts{
    <script src="~/Scripts/Chart.js"></script>
    <script>

        var barChartData = {
            labels: ["Entrada", "Saída"],
            datasets: [{
                fillColor : "rgba(151,187,205,0.5)",
                strokeColor : "rgba(151,187,205,0.8)",
                highlightFill : "rgba(151,187,205,0.75)",
                highlightStroke : "rgba(151,187,205,1)",
                    data: @Html.Raw(ViewBag.Dados)
                    }]

        }
        window.onload = function () {
            var ctx = document.getElementById("graficos").getContext("2d");
            window.myBar = new Chart(ctx).Bar(barChartData, {
                responsive: true
            });
        }

</script>
}