@{
    Layout = null;
}
@model Cliente
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <title>Login</title>
    <link href="~/Content/Login.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        @using (Html.BeginForm("Login", "Acesso", FormMethod.Post, new { @class = "form-signin", @id = "frm_login" })) 
        { 
            <h2 class="form-signin-heading">Por favor, autentique-se.</h2>
            @Html.TextBoxFor(x => x.Usuario, new { @class = "col-md-10 form-control", id = "txtUsuario", @placeholder = "Digite o usuário", @required = "true", @autofocus = "true", @maxlength = "30", @pattern = "[a-zA-Z0-9]{8,30}", @title = "O usuário precisa conter ao menos 8 letras ou números." })
            @Html.PasswordFor(x => x.Senha, new { @class = "col-md-10 form-control", id = "txtSenha", @placeholder = "Digite a Senha", @required = "true", @autofocus = "true", @maxlength = "20", @pattern = ".{8,30}", @title = "A senha precisa conter ao menos 8 dígitos." })
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            @Html.ActionLink("Não possuo cadastro", "RegistroUsuario")
        }
    </div>
</body>
</html>
